# Load Qualcomm wireless module
SUBSYSTEM=="sdio", ACTION=="add", ENV{MODALIAS}=="sdio:c00v0271d050A", RUN="/bin/sh -c '/etc/udev/scripts/qualcomm.sh &'"
